@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Noto+Sans:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
:root {
    --background-color: #EDF1FD;
    --color-font-1: #868CA6;
    --font-bold: #0048F0;
}
a {
    text-decoration: none;
}
html {
    height: 100vh;
    background-color: var(--background-color);
}


/* -------------------------------------------------HEADER------------------------------------------------- */
header{
    width: 100vw;
    height: 15vh;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > ul{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav > ul > li > a{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--color-font-1);
    transition: 0.2s;
}
nav > ul > li > a:hover{
    color: var(--font-bold);
    transition: 0.2s;
}

/* -------------------------------------------------HOME------------------------------------------------- */
.inicial{
    width: 100vw;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.inicial-texts{
    width: 36%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
h1{
    font-size: 4.5rem;
}
.inicial-texts h2 {
    color: #5d5e64;
    
}
.inicial-texts button{
    width: 8vw;
    height: 6vh;
    border: none;
    cursor: pointer;
    background-color: var(--font-bold);
    transition: 0.1s;
    position: relative;
    bottom: -4vh;
}
.inicial-texts button:hover{
    transform: scale(1.1);
    transition: 0.1s;
}
.inicial-texts button a{
    font-size: 120%;
    color: var(--background-color);
}
.inicial-img img{
    width: 15vw;
    border-radius: 10px;

}
.scroll-down{
    position: relative;
    bottom: -3vh;
    right: -11.1vw;
    transform: rotate(90deg);
}

/* -------------------------------------------------ABOUT------------------------------------------------- */
.about-me{
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
}
.bar{
    background-color: black;
    width: 0.2vw;
    height: 25vh;
    border-radius: 10px;
    position: relative;
    right: -13vw;
    bottom: -2.2vh;
}
.about-me h2{
    font-size: 3rem;
}
.about-me-text{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-me-text a{
    width: 8vw;
    height: 100%;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border: 2px solid var(--font-bold);
    text-align: center;
    font-size: 120%;
    color: var(--font-bold);
    font-weight: 600;
    position: relative;
    bottom: -4vh;
    transition: 0.3s;
}
.about-me-text a:hover{
    background-color: var(--font-bold);
    color: var(--background-color);
    transition: 0.3s;
}

/* -------------------------------------------------PROJECTS------------------------------------------------- */
.projects{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 4rem;
}
.projects h2{
    font-size: 3rem;
}
.projects-links{
    width: 85vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.projects-card {
    width: 40vw;
    height: 40vh;
}
.projects-card img{
    width: 30vw;
    height: 40vh;
    transition: 0.3s;
}
.projects-card img:hover{
    transform: scale(0.99);
    transition: 0.3s;
    box-shadow: 2px 20px 100px 1px rgba(0, 0, 0, 0.452);
}
.projects-card p{
    font-size: 1.2rem;
    font-weight: 600;
}

/* -------------------------------------------------RESUME------------------------------------------------- */
.resume{
    width: 100vw;
    height: 60vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F9FF;
}
.resume h2 {
    letter-spacing: 0.2rem;
    font-size: 2rem;
}
.resume-cards{
    width: 80vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.resume-card {
    width: 15vw;
    height: 30vh;
    padding: 1rem;
    border: 3px solid var(--color-font-1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
    transition: 0.3s;
}
.resume-card i{
    font-size: 1.5rem;
}
.resume-card:hover{
    transform: scale(1.2);
    border-color: var(--font-bold);
    transition: 0.3s;
    box-shadow: 2px 20px 100px 2px rgba(0, 0, 0, 0.452);
}


/* -------------------------------------------------CONTACT------------------------------------------------- */
.contact{
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}
.contact-left a{
    color: black;
}
.contact-left a:hover{
    color: var(--font-bold);
}
.contact-left h2{
    font-size: 3rem;
}
.contact-left h3{
    font-size: 1.5rem;
    color: #5d5e64;
    letter-spacing: 0.1rem;
}
.contact-links{
width: 20%;
display: flex;
gap: 4rem;
}
.contact-links a{
    transition: 0.3s;
}
.contact-links a:hover{
    transform: scale(1.2);
    transition: 0.3;
}
.contact-links i{
    font-size: 3.5rem;
    color: var(--font-bold);
}






@media (max-width: 1920px) {
    h1{
        font-size: 3rem;
    }
    .scroll-down{
        bottom: 1vh;
    }


    .bar{
        height: 30vh;
        bottom: -2.4vh;
    }
    .about-me-text a{
        width: 10vw;
    }


    .projects-card img{
        width: 40vw;
    }


    .resume-card{
        width: 17vw;
    }
    .resume-card h3{
        font-size: 1.3rem;
    }
}